<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true">
  <div class="lds-facebook"><div></div><div></div><div></div></div>
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<div class="wrapper light-bg">
  <header>
    <app-navbar></app-navbar>
  </header>
  
  <div class="container mb-5 pb-5 pb-lg-2 mb-lg-0">
    <div class="text-center my-5">
      <h1 class="d-none d-lg-block">Contracts for {{client}}</h1>
      <h3 class="d-block d-lg-none">Contracts for {{client}}</h3>
    </div>

    <!-- Search and Filter lives here -->
    <app-filter></app-filter>
    
    <!-- Contractors for desktop view -->
    <div class="bg-white radius shadow py-5 px-4 d-none d-lg-block" *ngIf="contractors">
      <div class="row headers mb-4">
        <div class="col-3">Contractor name</div>
        <div class="col-2">Type</div>
        <div class="col-2">Start Date</div>
        <div class="col-2">Amount</div>
        <div class="col-2">Status</div>
        <div class="col-1">Actions</div>
      </div>

      <!-- Individual Contractor component -->
      <app-contractor *ngFor="let contractor of contractors" [contractor]="contractor"></app-contractor>
    </div>

    <!-- Individual Contractor component Mobile view -->
    <div class="mb-5 mb-lg-0">
      <app-contractor-mobile class="d-block d-lg-none" *ngFor="let contractor of contractors" [contractor]="contractor"></app-contractor-mobile>
    </div>
  </div>
</div>

<!-- Floating Button -->
<div class="float-btn">
  <button class="btn rounded-circle p-4"><img src="assets/img/icons/chat.svg" alt=""></button>
</div>